:root {
 --borderCrimson: 2px crimson solid;
 --borderBlack: 2px black solid;
 --borderForestGreen: 2px forestgreen solid;
 --borderCyan: 2px cyan solid;
 --borderDarkBlue: 2px darkblue solid;
 --borderBlueViolet: 2px blueviolet solid;
 --borderCoral: 2px coral solid;
 --colorBaseOne25: #0C1114;
 --colorBaseTwo25: #060606;
 --colorBaseThree13: #0a0b0c;
 --colorBaseFour13: #072D3D;
 --colorBaseFive5: #322520;
 --colorBaseSix5: #05455A;
 --colorBaseSeven5: #504741;
 --colorBaseEight5: #09647F;
 --colorBaseNine5: #72736D;
 --colorBaseTeen5: #A3B4B1
}

html {
 scroll-behavior: smooth;
 /* border-top-right-radius:; */
}

* {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 list-style: none;
 text-decoration: none;
 color: white;
 font-size: 100%;
 line-height: 1.9rem;
 font-family: 'Quicksand', sans-serif;
 text-align: center
}

@font-face {
 font-family: 'neontubes';
 /* src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot"); */
 src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
 font-weight: normal;
 font-style: normal
}

body {
 background-color: #072D3D
}

h1 {
 font-size: 9vw
}

h2 {
 font-size: 6vw
}

h3 {
 font-size: 5vw
}

p {
 font-size: 4vw
}

#containerNavBar {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
 -ms-flex-flow: row;
 flex-flow: row;
 -webkit-box-pack: end;
 -ms-flex-pack: end;
 justify-content: flex-end;
 height: 8vh;
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 2
}

.containerOfEveryNavBar {
 z-index: 1;
 position: relative;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
 -ms-flex-flow: row;
 flex-flow: row;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 width: 100px
}

.containerOfEveryNavBar:hover .navLinks {
 -webkit-transform: rotateY(0deg);
 transform: rotateY(0deg)
}

.containerOfEveryNavBar:hover #iconOfNavBarAbout {
 -webkit-transform: rotateX(90deg);
 transform: rotateX(90deg)
}

.containerOfEveryNavBar:hover #iconOfNavBarWork {
 -webkit-transform: rotateX(90deg);
 transform: rotateX(90deg)
}

.containerOfEveryNavBar:hover #iconOfNavBarContact {
 -webkit-transform: rotateX(90deg);
 transform: rotateX(90deg)
}

.front, .navLinks {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 width: 100%;
 height: 4vh;
 margin: auto;
 position: absolute;
 top: 0;
 left: 0;
 -webkit-transition: all .4s ease;
 -o-transition: all .4s ease;
 transition: all .4s ease;
 cursor: pointer
}

.front {
 background-color: #072D3D;
 color: #f05629;
 -webkit-transform-origin: 0 0;
 -ms-transform-origin: 0 0;
 transform-origin: 0 0
}

.navLinks {
 width: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 color: white;
 -webkit-transform-origin: 0 0 85px;
 -ms-transform-origin: 0 0 85px;
 transform-origin: 0 0 85px;
 -webkit-transform: rotate(-90deg);
 -ms-transform: rotate(-90deg);
 transform: rotate(-90deg)
}

.navLinks:hover {
 background-color: #A3B4B1;
 color: black
}

#iconOfNavBarAbout {
 border-bottom-left-radius: 50%;
 border-top-left-radius: 50%
}

#aboutNavBar {
 border-bottom-left-radius: 50%;
 border-top-left-radius: 50%
}

#iconOfNavBarContact {
 border-bottom-right-radius: 50%;
 border-top-right-radius: 50%
}

#contactNavLinks {
 border-bottom-right-radius: 50%;
 border-top-right-radius: 50%
}

#containerOfHeader {
 margin-top: 65px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-flow: column wrap;
 flex-flow: column wrap;
 -webkit-box-pack: start;
 -ms-flex-pack: start;
 justify-content: flex-start;
 height: 100vh;
 background-image: url(../images/backgroundImageCityNight.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 overflow: hidden
}

#JuanPastenCastillo {
 -webkit-animation: showingTheText 1.8s forwards;
 animation: showingTheText 1.8s forwards;
 color: white;
 font-size: 7vw;
 padding-top: 130px;
 margin-top: 0;
 opacity: 0;
 position: relative;
 z-index: 1
}

@-webkit-keyframes showingTheText {
 0% {
  opacity: 0
 }

 100% {
  opacity: 1
 }
}

@keyframes showingTheText {
 0% {
  opacity: 0
 }

 100% {
  opacity: 1
 }
}

.paragraphOfHeader {
 -webkit-animation: showingTheText 2.3s forwards 1s;
 animation: showingTheText 2.3s forwards 1s;
 color: white;
 font-size: 4vw;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 position: relative;
 line-height: 8vh;
 opacity: 0;
 z-index: 1
}

.paragraphOfHeader:last-child {
 margin-top: 2vw;
 opacity: 0;
 -webkit-animation: showingTheText 2.8s forwards 1.5s;
 animation: showingTheText 2.8s forwards 1.5s
}

/* .waves {
 position: absolute;
 bottom: 0;
 left: 0;
 right: 0;
 height: 200px;
 -webkit-transition: 500ms;
 -o-transition: 500ms;
 transition: 500ms
} */

/* .waves::before, .waves::after {
 content: '';
 position: absolute;
 width: 300vw;
 height: 300vw;
 top: -65vw;
 left: 50%;
 -webkit-transform: translate(-50%, -75%);
 -ms-transform: translate(-50%, -75%);
 transform: translate(-50%, -75%)
} */

/* .waves::before {
 border-radius: 44%;
 background: -o-radial-gradient(circle, rgba(5, 69, 90, 0) 0%, rgba(80, 71, 65, 0) 20%, rgba(162, 45, 11, 0.1) 97%, rgba(143, 40, 10, 0.1) 98%, rgba(124, 35, 9, 0.1) 99%);
 background: radial-gradient(circle, rgba(5, 69, 90, 0) 0%, rgba(80, 71, 65, 0) 20%, rgba(162, 45, 11, 0.1) 97%, rgba(143, 40, 10, 0.1) 98%, rgba(124, 35, 9, 0.1) 99%);
 -webkit-animation: waves 16s linear infinite;
 animation: waves 16s linear infinite
} */
/* 
.waves::after {
 border-radius: 44%;
 background: -o-radial-gradient(circle, rgba(5, 69, 90, 0) 0%, rgba(80, 71, 65, 0.0) 20%, rgba(162, 45, 11, 0.1) 97%, rgba(143, 40, 10, 0.1) 98%, rgba(124, 35, 9, 0.1) 99%);
 background: radial-gradient(circle, rgba(5, 69, 90, 0) 0%, rgba(80, 71, 65, 0.0) 20%, rgba(162, 45, 11, 0.1) 97%, rgba(143, 40, 10, 0.1) 98%, rgba(124, 35, 9, 0.1) 99%);
 -webkit-animation: waves 14s linear infinite;
 animation: waves 14s linear infinite
} */

/* @-webkit-keyframes waves {
 0% {
  -webkit-transform: translate(-50%, -75%) rotate(0deg);
  transform: translate(-50%, -75%) rotate(0deg)
 }
 100% {
  -webkit-transform: translate(-50%, -75%) rotate(360deg);
  transform: translate(-50%, -75%) rotate(360deg)
 }
}

@keyframes waves {
 0% {
  -webkit-transform: translate(-50%, -75%) rotate(0deg);
  transform: translate(-50%, -75%) rotate(0deg)
 }
 100% {
  -webkit-transform: translate(-50%, -75%) rotate(360deg);
  transform: translate(-50%, -75%) rotate(360deg)
 }
} */

#containerOfBriefcase {
 height: 100%;
 /* background-color: var(--colorBaseSix5); */
 background-image: url('data:image/svg+xml,%3Csvg width="42" height="44" viewBox="0 0 42 44" xmlns="http://www.w3.org/2000/svg"%3E%3Cg id="Page-1" fill="none" fill-rule="evenodd"%3E%3Cg id="brick-wall" fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
 overflow: hidden
}

#containerOfTitleBriefcase {
 height: 100%
}

#myWorks {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 padding: 8.5vh 0 0 0;
 text-decoration: underline;
 font-family: "neontubes";
 text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
 /* -webkit-animation: buzz 0.01s infinite alternate;
 animation: buzz 1.8s infinite alternate; */
 line-height: 7.9vw
}

/* @-webkit-keyframes buzz {
 70% {
  opacity: 0.80
 }
}

@keyframes buzz {
 70% {
  opacity: 0.80
 }
} */

#containerOfAllIndividualsBriefcases {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
 -ms-flex-flow: row wrap;
 flex-flow: row wrap;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 margin-top: 5vw;
 height: 100%
}

.containerOfEverySingularBriefcase {
 width: 50%;
 height: 100%;
 padding: 30px 15px 15px 15px
}

.internalContainer {
 margin-right: auto;
 margin-left: auto;
 width: 100%;
 height: 80%;
 -webkit-box-shadow: 1px 1px 11px 3px #080D10;
 box-shadow: 1px 1px 11px 3px #080D10;
 border-radius: 6px
}

/* .internalContainer:hover {
 -webkit-box-shadow: inset 1px 1px 11px 3px white;
 box-shadow: inset 1px 1px 11px 3px white
} */

.imgBriefcase {
 border: none;
 border-top-left-radius: 6px;
 border-top-right-radius: 6px;
 border-bottom: 0;
 width: 100%;
 height: 40vw;
 margin-left: auto;
 margin-right: auto;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 /* -webkit-transition: all 2000ms cubic-bezier(0.605, -0.600, 0.635, 1.610);
 -o-transition: all 2000ms cubic-bezier(0.605, -0.600, 0.635, 1.610);
 transition: all 2000ms cubic-bezier(0.605, -0.600, 0.635, 1.610) */
}

/* .internalContainer:hover .imgBriefcase {
 -webkit-transform: scale(0.90, 0.90);
 -ms-transform: scale(0.90, 0.90);
 transform: scale(0.90, 0.90)
} */

.paragraphOfBriefcase {
 border: none;
 border-top: none;
 border-bottom-right-radius: 6px;
 border-bottom-left-radius: 6px;
 background-color: rgba(10, 11, 12, 0.6);
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 width: 100%;
 margin: auto;
 font-size: 3vw;
 line-height: 3.9vw;
 height: 10vw;
 font-family: "neontubes";
 text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff
}

/* .internalContainer:hover .paragraphOfBriefcase {
 -webkit-animation: blinkParagraphOfBriefcase 1.8s forwards;
 animation: blinkParagraphOfBriefcase 1.8s forwards
} */

/* @-webkit-keyframes blinkParagraphOfBriefcase {
 0% {
  opacity: 0
 }

 10% {
  opacity: 0
 }

 10.1% {
  opacity: 1
 }

 10.2% {
  opacity: 0
 }

 20% {
  opacity: 0
 }

 20.1% {
  opacity: 1
 }

 20.6% {
  opacity: 0
 }

 30% {
  opacity: 0
 }

 30.1% {
  opacity: 1
 }

 30.5% {
  opacity: 1
 }

 30.6% {
  opacity: 0
 }

 45% {
  opacity: 0
 }

 45.1% {
  opacity: 1
 }

 50% {
  opacity: 1
 }

 55% {
  opacity: 1
 }

 55.1% {
  opacity: 0
 }

 57% {
  opacity: 0
 }

 57.1% {
  opacity: 1
 }

 60% {
  opacity: 1
 }

 60.1% {
  opacity: 0
 }

 65% {
  opacity: 0
 }

 65.1% {
  opacity: 1
 }

 75% {
  opacity: 1
 }

 75.1% {
  opacity: 0
 }

 77% {
  opacity: 0
 }

 77.1% {
  opacity: 1
 }

 85% {
  opacity: 1
 }

 85.1% {
  opacity: 0
 }

 86% {
  opacity: 0
 }

 86.1% {
  opacity: 1
 }

 100% {
  opacity: 1
 }
}

@keyframes blinkParagraphOfBriefcase {
 0% {
  opacity: 0
 }

 10% {
  opacity: 0
 }

 10.1% {
  opacity: 1
 }

 10.2% {
  opacity: 0
 }

 20% {
  opacity: 0
 }

 20.1% {
  opacity: 1
 }

 20.6% {
  opacity: 0
 }

 30% {
  opacity: 0
 }

 30.1% {
  opacity: 1
 }

 30.5% {
  opacity: 1
 }

 30.6% {
  opacity: 0
 }

 45% {
  opacity: 0
 }

 45.1% {
  opacity: 1
 }

 50% {
  opacity: 1
 }

 55% {
  opacity: 1
 }

 55.1% {
  opacity: 0
 }

 57% {
  opacity: 0
 }

 57.1% {
  opacity: 1
 }

 60% {
  opacity: 1
 }

 60.1% {
  opacity: 0
 }

 65% {
  opacity: 0
 }

 65.1% {
  opacity: 1
 }

 75% {
  opacity: 1
 }

 75.1% {
  opacity: 0
 }

 77% {
  opacity: 0
 }

 77.1% {
  opacity: 1
 }

 85% {
  opacity: 1
 }

 85.1% {
  opacity: 0
 }

 86% {
  opacity: 0
 }

 86.1% {
  opacity: 1
 }

 100% {
  opacity: 1
 }
} */

#containerOfFooter {
 height: 100vh;
 background-color: var(--colorBaseEight5);
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-flow: column;
 flex-flow: column;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 text-align: center;
 overflow: hidden;
 -webkit-box-shadow: inset 1px 1px 15px 1px black;
 box-shadow: inset 1px 1px 15px 1px black;
 border-radius: 6px
}

#letsWorkTogheter {
 padding: 10vh 0 15vh 0;
 font-size: 10vw;
 -webkit-transform: translateY(1vh);
 -ms-transform: translateY(1vh);
 transform: translateY(1vh);
 -webkit-transform-origin: 50% 50%;
 -ms-transform-origin: 50% 50%;
 transform-origin: 50% 50%;
 text-shadow: 0 -1px 0 #cccccc, 0 -2px 0 #cccccc, 0 -3px 0 #cccccc, 0 -4px 0 #cccccc, 0 -5px 0 #cccccc, 0 -6px 0 #cccccc, 0 -7px 0 #cccccc, 0 -8px 0 #cccccc, 0 -9px 0 #cccccc, 0 -50px 30px rgba(0, 0, 0, 0.3);
 color: #f05629
}

#paragraphOfTitleFooter {
 -webkit-transform: translateY(-1vh);
 -ms-transform: translateY(-1vh);
 transform: translateY(-1vh);
 -webkit-transform-origin: 50% 50%;
 -ms-transform-origin: 50% 50%;
 transform-origin: 50% 50%;
 text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
 text-shadow: 0 -1px 0 #cccccc, 0 -2px 0 #cccccc, 0 -3px 0 #cccccc, 0 -4px 0 #cccccc, 0 -5px 0 #cccccc, 0 -6px 0 #cccccc, 0 -7px 0 #cccccc, 0 -8px 0 #cccccc, 0 -9px 0 #cccccc, 0 -50px 30px rgba(0, 0, 0, 0.3);
 color: #f05629
}

#paragraphOfTitleFooter {
 font-size: 7vw;
 margin-top: 10vh
}

#containerOfSocialNetworks {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
 -ms-flex-flow: row wrap;
 flex-flow: row wrap;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
 justify-content: center;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center;
 margin-top: 2vh
}

.socialNetwork {
 margin: 4.9vw 2vw 0;
 font-size: 4vw;
 padding: 1vw;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -ms-flex-flow: column wrap;
 flex-flow: column wrap;
 -webkit-box-align: center;
 -ms-flex-align: center;
 align-items: center
}

.socialNetwork:hover {
 padding: auto;
 border-radius: 6px
}

.socialNetwork .iconOfSocialNetwork {
 padding: 3vh 0 0 0;
 opacity: 0;
 -webkit-transition: opacity 1s linear;
 -o-transition: opacity 1s linear;
 transition: opacity 1s linear
}

.socialNetwork:hover .iconOfSocialNetwork {
 opacity: 1
}

.socialNetwork:hover .fadedIcon {
 -webkit-animation: movingTwitterIcon 1.5s forwards;
 animation: movingTwitterIcon 1.5s forwards
}

@-webkit-keyframes movingTwitterIcon {
 0% {
  -webkit-transform: translateZ(-1400px);
  transform: translateZ(-1400px)
 }

 100% {
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
 }
}

@keyframes movingTwitterIcon {
 0% {
  -webkit-transform: translateZ(-1400px);
  transform: translateZ(-1400px)
 }

 100% {
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
 }
}


@media only screen and (max-width: 960px) {
 #JuanPastenCastillo {
  font-size: 5vh;
  line-height: 4rem
 }

 .paragraphOfHeader {
  font-size: 4vh;
  line-height: 2.2rem
 }

 .paragraphOfHeader:last-child {
  margin-top: 30px
 }

 /* .waves {
  height: 150px
 } */

 #letsWorkTogheter {
  font-size: 12vh;
  padding: 0 0 6vh 0;
  line-height: 10vh
 }
}

@media only screen and (max-width: 540px) {
 #JuanPastenCastillo {
  padding-top: 75px;
  text-align: center;
  margin-bottom: 2vh
 }

 .waves {
  height: 50px
 }

 #myWorks {
  font-size: 6vh;
  line-height: 7.9vh
 }

 .containerOfEverySingularBriefcase {
  width: 100vw
 }

 .imgBriefcase {
  height: 40vh
 }

 .paragraphOfBriefcase {
  font-size: 3vh;
  height: 13vh;
  line-height: 3.9vh
 }

 #containerOfFooter {
  height: 113vh;
 }

 #letsWorkTogheter {
  margin: 18vh 0 0 0;
  font-size: 3rem;
 }

 #paragraphOfTitleFooter {
  margin: 0;
  font-size: 6vh;
  line-height: 7vh;
  margin: 1vh 0 0 0
 }

 #containerOfSocialNetworks {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column
 }

 .socialNetwork {
  font-size: 4vh
 }
}

@media only screen and (max-width: 380px) {
 .paragraphOfHeader {
  font-size: 3vh;
  border-radius: 6px;
  margin: auto;
  line-height: 2.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
 }

 #myWorks {
  font-size: 3.5vh;
  line-height: 5.9vh
 }

 .containerOfEverySingularBriefcase {
  width: 100vw
 }

 .imgBriefcase {
  height: 30vh
 }

 .paragraphOfBriefcase {
  font-size: 2.0vh;
  height: 13vh
 }

 #paragraphOfTitleFooter {
  font-size: 5vh
 }
}