/* ________________________________
BASE
________________________________ */

:root {
 --borderCrimson: 2px crimson solid;
 --borderBlack: 2px black solid;
 --borderForestGreen: 2px forestgreen solid;
 --borderCyan: 2px cyan solid;
 --borderDarkBlue: 2px darkblue solid;
 --borderBlueViolet: 2px blueviolet solid;
 --borderCoral: 2px coral solid;
 --colorBaseOne25: #0C1114;
 --colorBaseTwo25: #060606;
 --colorBaseThree13: #0B1D27;
 --colorBaseFour13: #072D3D;
 --colorBaseFive5: #322520;
 --colorBaseSix5: #05455A;
 --colorBaseSeven5: #504741;
 --colorBaseEight5: #09647F;
 --colorBaseNine5: #72736D;
 --colorBaseTeen5: #A3B4B1;
}

* {
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 list-style: none;
 text-decoration: none;
 color: white;
 font-size: 100%;
 line-height: 1.9rem;
 font-family: 'Quicksand', sans-serif;
}

body {
 background-color: #072D3D;
}

h1 {
 font-size: 9vw;
}

h2 {
 font-size: 6vw;
}

h3 {
 font-size: 5vw;
}

p {
 font-size: 4vw;
}

/* ______________________________ 
 NAV BAR SECTION 
_________________________________ */

#containerNavBar {
 /* border: var(--borderBlueViolet); */
 display: flex;
 flex-flow: row wrap;
 justify-content: flex-end;
 height: 65px;
 background-color: var(--colorBaseSix5);
 background: var(--colorBaseFour13);
 position: fixed;
 top: 0;
 width: 100%;
}

.navLinks {
 /* border: var(--borderCyan); */
 width: 120px;
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
}

.navLinks:hover {
 background-color: #A3B4B1;
 color: black;
 border-radius: 6px;
}

/* ______________________________ 
 PERSONAL PRESENTATION
_________________________________ */

#containerOfHeader {
 /* border: var(--borderBlueViolet); */
 margin-top: 65px;
 display: flex;
 flex-flow: column wrap;
 justify-content: flex-start;
 align-items: center;
 background-color: var(--colorBaseOne25);
 height: 100vh;
 background-image: url("https://images.pexels.com/photos/3075993/pexels-photo-3075993.jpeg?cs=srgb&dl=pexels-sanaan-mazhar-3075993.jpg&fm=jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 /* position: relative; */
}

#titleOfHeader {
 /* border:var(--borderCoral); */
 color: white;
 font-size: 9vw;
 padding-top: 130px;
 margin-top: 0;
}

.paragraphOfHeader {
 /* border:var(--borderCyan); */
 color: white;
 font-size: 4vw;
 display: flex;
 align-items: flex-end;
}

.paragraphOfHeader:last-child {
 margin-top: 2vw;
}

/* ______________________________ 
 CONTAINER OF BRIEFCASE
_________________________________ */

#containerOfBriefcase {
 /* border: var(--borderCyan); */
 height: 100%;
 background-color: var(--colorBaseSix5);
 /* margin-top: 0; */
}

/* ______________________________ 
 CONTAINER OF TITLE OF BRIEFCASE
_________________________________ */

#containerOfTitleBriefcase {
 /* border: var(--borderCoral); */
 /* margin-top: 8vh; */
 height: 100%;
}

#titleOfBriefCase {
 /* border: var(--borderForestGreen); */
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 10vh 0 6vh 0;
 border-bottom: 10px solid white;
 border-radius: 20px;
 /* height:100%; */
 /* width:90%;
 margin:auto; */
}

/* ______________________________ 
 CONTAINER OF ALL INDIVIDUALS BRIEFCASES
_________________________________ */

#containerOfAllIndividualsBriefcases {
 /* border: var(--borderForestGreen); */
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 margin-top: 5vw;
 height: 100%;
}

/* ______________________________ 
 CONTAINER OF EVERY SINGULAR BRIFCASE
_________________________________ */

.containerOfEverySingularBriefcase {
 /* border: var(--borderCoral); */
 width: 50%;
 height: 100%;
 padding: 30px 15px 15px 15px;
}

.internalContainer {
 /* border: var(--borderCyan); */
 /* height: 100%; */
 margin-right: auto;
 margin-left: auto;
 width: 100%;
 height: 80%;
 box-shadow: 1px 1px 11px 3px #080D10;
 border-radius: 6px;
}

.containerOfImgBriefcase {
 /* border: var(--borderForestGreen); */
 /* width:100%; */
 /* height:200px; */
}

.imgBriefcase {
 /* border: white 1px solid; */
 border: none;
 border-top-left-radius: 6px;
 border-top-right-radius: 6px;
 border-bottom: 0;
 width: 100%;
 height: 40vw;
 margin-left: auto;
 margin-right: auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

.paragraphOfBriefcase {
 /* border: white 1px solid; */
 border: none;
 border-top: 0;
 border-bottom-right-radius: 6px;
 border-bottom-left-radius: 6px;
 background-color: var(--colorBaseThree13);
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 10vw;
 margin: auto;
 /* padding:2vh; */
 font-size: 3vw;
 line-height: 20px;
}

/* ______________________________ 
 BUTTON SHOW ALL
_________________________________ */

/* ______________________________ 
 FOOTER
_________________________________ */

#containerOfFooter {
 /* border: var(--borderCyan); */
 height: 100vh;
 background-color: var(--colorBaseEight5);
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
 text-align: center;
}

#letsWorkTogheter {
 /* border: var(--borderCyan); */
 padding: 10vh 0 10vh 0;
 font-size: 10vw
}

#paragraphOfTitleFooter {
 /* border: var(--borderForestGreen); */
 font-size: 7vw;
 padding: 3vw 0 3vw 0;
 margin-top: 10vh;
}

#containerOfSocialNetworks {
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 align-items: center;
 margin-top: 2vh;
}

.socialNetwork {
 /* border: var(--borderCrimson); */
 margin: 2vw 2vw;
 font-size: 4vw;
 padding: 4vw;
}

.socialNetwork:hover {
 color: var(--colorBaseFive5);
 background-color: var(--colorBaseTeen5);
 padding: auto;
 text-decoration: underline;
 border-radius: 6px;
}